{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'notes/style.css' %}">

</head>
<body>

<p>{% if notes_data %}</p>
    <h1>Notes Data</h1>
    <div class="row">
    <div class="col-md-4">
<ul>
    {% for note in notes_data %}
        <li><strong>{{ note.title }}</strong></li>
        <li><strong>{{ note.text }}</strong></li>
        <li><strong>{{ note.reminder }}</strong></li>
    {% endfor %}
</ul>
  </div></div>
{% endif %}
</body>
</html>